[Unit]
Description=domoticz_service
After=basic.target

[Service]
ExecStart=LIBDIR/domoticz/domoticz -daemon -www 8080 -sslwww 8443 -syslog
WorkingDirectory=LIBDIR/domoticz/
Restart=on-abort
User=domoticz
StandardOutput=null

[Install]
WantedBy=multi-user.target
